:root{
    --branco: rgb(255, 255, 255);
    --azul-claro: #6ee2ff;
    --azul-escuro: #3295ae;
    --cinza: #d5d5e4;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--azul-claro);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--branco);
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.container input{
    
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--cinza);
    color: var(--branco);
    outline: none;
    padding: .4rem;
    width: 50%;
    font-size: 1rem;
}

.container input::placeholder{
    color: var(--branco);
    text-align: center;
}

.container input:focus{
    border-bottom: 2px solid var(--azul-claro);
}

button{
    padding: .8rem;
    width: 80%;
    font-size: 1rem;
    background-color: var(--azul-claro);
    border: none;
    border-radius: 1rem;
    color: var(--branco);
    margin-top: 2rem;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: #4697ac;
}